body {
    background-color: #000D54;
    color: #E7EBFF;
}

/*Eleminando as configurações padrões do broswer*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#principal {
    background-color:  #3041A1;
    border-radius: 12px;
    margin-top: 100px;
    padding-bottom: 20px;
}

#login {
    padding: 10px 0px 10px 0px;
}

img {
    height: 30px;
}

footer {
    clear: both;
    margin: 20px;
    text-align: center;
}

button {
    background-color: #E7EBFF;
    border-radius: 15px;
    border-color: #E7EBFF;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
}

.container {
    min-width: 960px;
    margin: 0 auto;
    text-align: center;
}