/*Importanto fonte*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-login: "Roboto";
}

/*Adicionando valores aos elementos*/
main, header, h5 {
  font-family: var(--font-login);
}
footer {
  margin: 20px;
  text-align: center;
}

.grid {
    display: grid;
}

.login {
    grid-template-columns: 2fr 2fr;
}

